<app-header
  title="Olá, {{ name }} "
  description="Confira os relatórios."
></app-header>

<div class="grid grid-cols-3 gap-2 mt-2">
  <app-card-stats
    icon="fa-solid fa-trophy"
    title="Entradas"
    [stats]="'10'"
    backgroundColor="#1e40af"
    iconColor="#1e40af"
  ></app-card-stats>
  <app-card-stats
    icon="fa-solid fa-trophy"
    title="Saídas"
    [stats]="'10'"
    backgroundColor="#18b37b"
    iconColor="#1e40af"
  ></app-card-stats>
  <app-card-stats
    icon="fa-solid fa-trophy"
    title="Flashcards estudados"
    [stats]="'10'"
    backgroundColor="#684cb8"
    iconColor="#1e40af"
  ></app-card-stats>
</div>
