<app-header title="Usuários" description="Gerenciar usuários"></app-header>

<button
  class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
  (click)="openAddUserDialog()"
>
  Adicionar Usuário
</button>

@if (isOneSelected()) {
<button
  (click)="openRemoveUserDialog()"
  class="bg-red-500 hover:bg-red-400 text-white font-bold ml-2 py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded"
>
  Remover Usuário
</button>
}

<div class="container flex flex-col my-4">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let item">
        <i
          class="text-xl text-center w-7 h-7"
          [ngClass]="
            item.role === 0 ? 'fa-solid fa-user-tie' : 'fa-solid fa-user'
          "
        ></i>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Primeiro nome</th>
      <td mat-cell *matCellDef="let item">{{ item.firstName }}</td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Segundo nome</th>
      <td mat-cell *matCellDef="let item">{{ item.lastName }}</td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let item">{{ item.email }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let item">
        <button
          (click)="openEditUserDialog(item)"
          mat-icon-button
          matTooltip="Editar"
          matTooltipPosition="above"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
