<form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="w-full mt-10">
  <div class="mb-6">
    <div class="flex">
      <div class="text-sm font-bold text-gray-700 tracking-wide">Email</div>
    </div>
    <input
      data-testid="input-email"
      formControlName="email"
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email"
      class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500"
    />
    @if (signinForm.controls.email.errors) { @if
    (signinForm.controls.email.dirty) {
    <p class="text-red-500">Verifique o email</p>
    } }
  </div>
  <div class="mt-8">
    <input
      data-testid="input-password"
      formControlName="password"
      type="password"
      id="password"
      name="password"
      placeholder="Enter your password"
      class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500"
    />
    @if (signinForm.controls.password.errors &&
    signinForm.controls.password.dirty){
    <p class="text-red-500">Verifique a senha</p>
    }
  </div>
  <div class="mt-10">
    <button
      data-testid="submit-button"
      [disabled]="signinForm.invalid || isLoading"
      type="submit"
      [ngClass]="{
        'opacity-75': signinForm.invalid
      }"
      class="flex flex-row justify-center bg-blue-500 text-gray-100 p-4 w-full rounded-md tracking-wide font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg"
    >
      @if (isLoading) {
      <mat-spinner diameter="20"></mat-spinner>
      }
      <span class="ml-2">{{ !isLoading ? "Entrar" : "Entrando..." }}</span>
    </button>
  </div>
</form>
